<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Appear (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{48,12}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,156},{48,12}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{164,584},{172,190}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{172,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{182,192}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{182,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,192}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{184,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,778},{180,190}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{180,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{170,192}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{170,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{160,192}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{160,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{152,192}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{152,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{186,196},{136,182}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{136,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{120,180}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{110,176}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{110,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{536,112},{54,176}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{54,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{112,176}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{112,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{108,176}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{108,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{106,176}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{106,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{324,180},{110,176}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{110,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{108,176}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{108,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{314,970},{36,154}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,6},{36,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{708,252},{36,144}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,14},{36,144}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{168,970},{38,144}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,13},{38,144}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{16,972},{38,150}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,10},{38,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{960,332},{36,150}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{36,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{470,180},{60,174}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{60,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{960,180},{36,150}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{36,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{532,238},{68,174}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{68,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{712,182},{68,174}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{68,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{890,180},{68,174}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,0},{68,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{536,168},{68,174}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{68,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{714,112},{68,174}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,0},{68,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Appear (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,390},{162,190}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{162,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Appear.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65a76f593e0938f3202830703b866ce$</string>
            <key>textureFileName</key>
            <string>Appear.png</string>
        </dict>
    </dict>
</plist>
