<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigKnife0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
            <key>BigKnife1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,152},{60,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>BigKnife2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{17,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,84}}</string>
                <key>sourceSize</key>
                <string>{17,84}</string>
            </dict>
            <key>BigKnife3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{62,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>BigKnife4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
            <key>BigKnife5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,88},{60,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>BigKnife6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{17,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,84}}</string>
                <key>sourceSize</key>
                <string>{17,84}</string>
            </dict>
            <key>BigKnife7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{62,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigKnife.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ed84759e350afa51b520f7eedb6bac$</string>
            <key>textureFileName</key>
            <string>BigKnife.png</string>
        </dict>
    </dict>
</plist>
