<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigKnife_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,400},{38,88}}</string>
                <key>offset</key>
                <string>{-32,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,1},{38,88}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,442},{50,130}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,15},{50,130}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,168},{64,156}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,17},{64,156}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,74},{70,168}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{70,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{68,164}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{68,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{70,168}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{70,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{70,168}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{70,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,244},{76,166}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,16},{76,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{98,168}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{98,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,74},{98,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{98,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{98,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,14},{98,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,174},{96,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,14},{96,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,14},{98,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,146},{96,166}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{96,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,322},{118,148}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{118,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>BigKnife_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,272},{126,156}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{126,156}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BigKnifeHit.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3105bf7e2d18b84f715f71ee96c01a57$</string>
            <key>textureFileName</key>
            <string>BigKnifeHit.png</string>
        </dict>
    </dict>
</plist>
