<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoosFlutter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{334,174}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
            <key>BoosPutDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{286,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,45},{286,174}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
            <key>BoosShrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,428},{196,200}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,44},{196,200}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
            <key>BoosSmashArms.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,178},{248,220}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,44},{248,220}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
            <key>BoosWalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{272,186}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{272,186}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossShoot.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00e1bca2f27a2da5487d8caef2c05706$</string>
            <key>textureFileName</key>
            <string>bossShoot.png</string>
        </dict>
    </dict>
</plist>
