<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoosBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,252},{165,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,23},{165,175}}</string>
                <key>sourceSize</key>
                <string>{415,223}</string>
            </dict>
            <key>BoosShrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{196,200}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,44},{196,200}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
            <key>BoosSmashArms.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{248,220}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,44},{248,220}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
            <key>BoosWalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,186}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{272,186}}</string>
                <key>sourceSize</key>
                <string>{374,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossDead.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86f2364a59a80b0d58c4b69122b7f89e$</string>
            <key>textureFileName</key>
            <string>bossDead.png</string>
        </dict>
    </dict>
</plist>
