<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Breath_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,570},{36,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{36,32}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,528},{44,40}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{44,40}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,458},{68,46}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,65},{68,46}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,458},{80,56}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,62},{80,56}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,516},{78,78}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{78,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{118,128}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{118,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,194},{188,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{190,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{190,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,384},{184,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{184,186}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{176,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{176,180}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,132},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,40},{108,112}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,242},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,41},{108,110}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Breath_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,352},{104,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,43},{104,106}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BreathImage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb5f67e0834c1b8994905c64fc18a7e8$</string>
            <key>textureFileName</key>
            <string>BreathImage.png</string>
        </dict>
    </dict>
</plist>
