<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>Gun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,103},{43,45}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{43,45}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Gun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,30},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>Gun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{43,45}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{43,45}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Gun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,26}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>Gun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,58},{45,43}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{45,43}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Gun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>Gun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{45,43}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{45,43}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gun.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0036ea9776862087e91b47aa279dabd$</string>
            <key>textureFileName</key>
            <string>Gun.png</string>
        </dict>
    </dict>
</plist>
