<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boardSettingBGimage.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>660</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>660</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_arrow.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_arrow_PressDown.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>1139</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_back.jpg</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>1253</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_back_PressDown.jpg</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>214</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>1470</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_play.jpg</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>1686</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_play_PressDown.jpg</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_levelUp.jpg</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Btn_levelUp_PressDown.jpg</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>heroInformation.png</key>
			<dict>
				<key>width</key>
				<integer>447</integer>
				<key>height</key>
				<integer>629</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>629</integer>
				<key>x</key>
				<integer>1007</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>eaf81a4c510fd9f92a8327ff2f2dd42a2934a494 - 副本 (2).jpg</key>
			<dict>
				<key>width</key>
				<integer>268</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>268</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>1456</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Screenshot_20200530_211402_com.ChillyRoom.Dungeon.jpg</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>1726</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Screenshot_20200528_213836_com.ChillyRoom.Dungeon.jpg</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>288</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1293</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skillDescription.png</key>
			<dict>
				<key>width</key>
				<integer>443</integer>
				<key>height</key>
				<integer>626</integer>
				<key>originalWidth</key>
				<integer>443</integer>
				<key>originalHeight</key>
				<integer>626</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>1293</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>totalCurrency.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>1293</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>heroChooseLayer0.png</string>
			<key>realTextureFileName</key>
			<string>heroChooseLayer0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>