<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Knife0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,17}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>Knife1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,52},{35,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{35,37}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>Knife2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{17,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{17,48}}</string>
                <key>sourceSize</key>
                <string>{17,54}</string>
            </dict>
            <key>Knife3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,91},{37,35}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{37,35}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>Knife4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,17}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>Knife5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,52},{35,37}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{35,37}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>Knife6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{17,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,48}}</string>
                <key>sourceSize</key>
                <string>{17,54}</string>
            </dict>
            <key>Knife7.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,91},{37,35}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{37,35}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Knife.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8fb6fcfae03b6045fb482decdb007ae$</string>
            <key>textureFileName</key>
            <string>Knife.png</string>
        </dict>
    </dict>
</plist>
