<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MonsterFind (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{34,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{34,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MonsterFind (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{46,46},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MonsterFind (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MonsterFind (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MonsterFind (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MonsterFind (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MonsterFind (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MonsterFind (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterFind.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee5bbae074ba4c15863ecec01b30418$</string>
            <key>textureFileName</key>
            <string>MonsterFind.png</string>
        </dict>
    </dict>
</plist>
