<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QuickGun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>QuickGun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,58},{35,35}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>QuickGun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,30},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>QuickGun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{35,35}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>QuickGun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>QuickGun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,39},{35,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>QuickGun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>QuickGun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{35,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QuickGun.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0bc529d508522ef26fa6b4cc1b42795$</string>
            <key>textureFileName</key>
            <string>QuickGun.png</string>
        </dict>
    </dict>
</plist>
